<div fxLayout fxLayoutAlign="space-between">
    <div class="story-type">
        <div class="reporter">
            <div class="parent">
                <img src="{{storyTypeIcon}}" alt="" class="avatar" size="24">
                <div class="name">{{details?.fields?.issuetype?.name}}</div>
            </div>
        </div>
    </div>
    <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px">
        <div class="details" fxFlex="60">
            <h4>{{details?.key}}</h4>
            <h5>Description</h5>

            <p>
                {{details.fields?.description ? details.fields?.description : 'No Description Available'}}
            </p>
            <mat-divider></mat-divider>
            <h5>Summary</h5>
            <p>{{details.fields?.summary ? details.fields?.summary : 'No Data'}}</p>
            <mat-divider></mat-divider>

            <h5>Label</h5>
            <mat-chip-list class="chip">
                <mat-chip class="chip-box" *ngFor="let label of details.fields?.labels">
                    {{label}}
                </mat-chip>
            </mat-chip-list>
            <!-- <mat-divider></mat-divider> -->

        </div>


        <div fxFlex>
            <h5>Original Estimate (hours)</h5>
            <p class="original-estimate">{{originalEstimateTime}}</p>
            <h5>Due Date</h5>
            <p class="original-estimate">{{details.fields?.duedate}}</p>
            <mat-divider></mat-divider>

            <h5 class="mb-0">REPORTER</h5>
            <div class="reporter">
                <div class="parent">
                    <img src="{{imgUrl}}" alt="" class="avatar" size="24">
                    <div class="name">{{details.fields?.reporter?.displayName}}</div>
                </div>
            </div>
            <h5>Priority</h5>
            <div class="reporter priority">
                <div class="parent">
                    <img src="{{priorityIcon}}" alt="" class="avatar" size="24">
                    <div class="name">{{details?.fields?.priority?.name}}</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="date-data">
                <p>Created at {{details.fields?.created | daysago}}</p>
                <p>Udated at {{details.fields?.updated | daysago}}</p>
            </div>


        </div>
    </div>
</mat-dialog-content>