<mat-list role="list">
    <mat-list-item role="listitem">
        <span class="material-icons-outlined">space_dashboard</span> Kanban Board
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="material-icons-outlined">settings</span> Project Settings
    </mat-list-item>
    <mat-list-item role="listitem" class="active">
        <span class="material-icons-outlined">description</span> Roadmaps
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-list role="list">
    <mat-list-item role="listitem">
        <span class="material-icons-outlined">local_shipping</span> Releases
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="material-icons-outlined">bug_report</span> Issues and filters
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="material-icons-outlined">layers</span> Pages
    </mat-list-item>
</mat-list>
<!-- <mat-divider></mat-divider> -->